/* Slides */
.slideshow-section {
  background-size: cover;
  animation: slideshow 50s infinite normal;
}

@keyframes slideshow {
  0% {background-image: url(../images/tiger.png);}
  10% {background-image: url(../images/treefrog.png);}
  20% {background-image: url(../images/turtle.png);}
  30% {background-image: url(../images/bee.png);}
  40% {background-image: url(../images/horses.png);}
  50% {background-image: url(../images/penguins.png);}
  60% {background-image: url(../images/rhinos.png);}
  70% {background-image: url(../images/shark.png);}
  80% {background-image: url(../images/moth.png);}
  90% {background-image: url(../images/birds.png);}
  100% {background-image: url(../images/wolf.png);}
}

/* Headers */
.header {
    position: fixed;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    background-color: green;
    width: 100%;
    top: 0;
    right: 0;
    padding: 3px;
}

.section-header {
    text-align: center;
    background-color: #79d279;
    font-size: 1.5em;
    padding: 2px;
    border-radius: 15px;
}

.search-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

/* Input form */
.form-and-buttons {
    text-align: center;
}

.animal-form {
    padding-top: 12%;
    margin: 0% 0 2% 2%;
}

.add-an-animal {
    font-style: italic;
    font-weight: bold;
    background-color: #fffafa;
    border: 1px solid green;
    border-radius: 15px;
    padding: 4px;
}

.input {
    margin-top: 2%;
    margin-right: 10%;
    padding: 1% 0;
    width: 90%;
    border-radius: 15px;
    border: 2px solid green;
    padding-left: 4px;
}

::placeholder {
    padding-left: 4px;
}

hr {
    right: 0;
}

.add-animal {
    margin: 2% 0;
    background-color: green;
    color: ghostwhite;
    padding: 5px;
    border-radius: 15%;
}

.add-animal:hover {
    background-color: #79d279;
}

.animal-btn {
    margin: 2% 1%;
    background-color: green;
    color: ghostwhite;
    padding: 5px;
    border-radius: 15px;
    width: 9%;
}

.animal-btn:hover {
    background-color: #79d279;
}

#animalButtons {
    text-align: center;
}

/* Areas that hold GIFs */
.jpeg {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 1%;
  width: 250px;
  text-align: center;
  background-color:  #f0f0f5;
  border-radius: 15px;
}

.flex-container > div:hover {
    -webkit-box-shadow: 6px 6px #ccc;
    -moz-box-shadow: 6px 6px #ccc;
    box-shadow: 6px 6px #ccc;
}

.faves,
.animals {
    margin: 5% 2%;
}

.rating {
    font-weight: bold;
    margin: 2% 0 1%;
}

.button-container {
    text-align: center;
    display: inline-flex;
}

.remove-button,
.favorite-button,
.download-button {
    background-color: #e6ffe6;
    border-radius: 15px;
    font-style: bold;
}

.remove-button:hover,
.favorite-button:hover,
.download-button:hover {
    background-color: aqua;
}

/* Footer */
.footer {
    position: fixed;
    text-align: center;
    padding: 6px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: green;
    color: ghostwhite;
}

.credit {
  float: right;
  margin-right: 2px;
  font-size: 0.75em;
}

/* Media Queries */
@media (width: 768px) {
  body {
    width: 100%;
  } 
}

@media (width: 414px) {
  .form-and-buttons {
    margin-top: 5%;
  }

  .animal-btn {
    width: 12%;
  }

  .favorites {
    padding-bottom: 5%;
  }
}

@media (width: 360px) {
  .animal-form {
    margin-top: 26%;
  }

  .animal-btn {
    width: 15%;
  }

  .favorites {
    padding-bottom: 7%;
  }
}
