

form {
    float: right;
    margin-top: 2%;
}

.add-an-animal {
    font-style: italic;
    font-weight: bold;
}

.input {
    margin-right: 10%;
    width: 90%;
    border: 2px solid green;
}

.add-animal {
    background-color: green;
    color: ghostwhite;
    padding: 5px;
    border-radius: 15%;
}

.footer {
    position: fixed;
    text-align: center;
    padding: 6px;
    width: 100%;
    bottom: 0;
    background-color: green;
    color: ghostwhite;
}